{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- this is for responsive design -->
		<!-- css style -->
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>

		<link rel="stylesheet" type="text/css" href=" {% static 'css/test.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'test1.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'footer1.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'fontawesome/css/fontawesome.min.css' %}"> <!-- font icons css -->
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap" rel="stylesheet"> <!-- raleway font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
		<script type="text/javascript" src=" {% static 'js/respond.js' %}"></script> <!-- enable responsive design for those browser which does not support CSS3 -->
		<script type="text/javascript" src=" {% static 'js/jquery.min.js' %}"></script> <!-- jquery plugin reference  -->
		<!-- <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script> -->
		<script type="text/javascript" src=" {% static 'js/caroufredsel.js' %}"></script> <!-- jquery plugin caroufredsel slider
	-->

	</head>
	<body id="main">
		<header>
			<div class="container">

				<nav class="navbar navbar-expand-lg navbar-light navbar1">
					<a class="logo " href="{% url 'index' %}"><img src="{% static 'img/skm_logo.png' %}" alt="logo" class="img-responsive">Shree Krishna Mankamana Travel and Tour</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown1">
						<ul class="navbar-nav mr-auto">
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" style="color:black;"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>
									<p>24/7 Support</p> <p>+9865521445</p></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" style="color:black;"><i class="fa fa-envelope"></i><p>Email</p> <p>sales@skm.com</p></a>
								</li>
								<li class="nav-item">

									{% if user.is_authenticated %}
										<a href="{% url 'profile' %}"><button class="btn btn-primary" style="width:104px;"><i class="fa fa-user-circle" style="margin-right:7px;"></i>Profile</button></a>
										<p><a href="{% url 'logout' %}"><button class="btn btn-success" style="width:104px;"><i class="fa fa-sign-in" style="margin-right:7px;"></i>Logout</button></a></p>
									{% else %}
										<a href="{% url 'register' %}"><button class="btn btn-primary"><i class="fa fa-user-plus" style="margin-right:5px;"></i>Sign Up</button></a>
										<p><a href="{% url 'login' %}"><button class="btn btn-success" style="width:104px;"><i class="fa fa-sign-in" style="margin-right:10px;"></i>Login</button></a></p>
									{% endif %}
								</li>

							</ul>
						</div>
					</nav>
				</div>
				<!-- second nav-->
				<nav class="navbar navbar-expand-lg navbar-dark navbar2" style="background-color:#0B417F" id="myHeader">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown2">
						<ul class="navbar-nav justify-content-center">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'index' %}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'packages' %}">Packages</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'educational_tour' %}">Educational Tour</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Activities
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								{% for package in packages %}
										{% if package.package_type.package_type == 'Activities' %}
											<a class="dropdown-item" href="{% url 'package_details' slug=package.slug_field %}">
												{% block activities %}
													 {{package.package_name}}
												{% endblock activities %}
											</a>
										{% endif %}

								{% endfor %}
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Travel Guide
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
									<a class="dropdown-item" href="{% url 'about-nepal' %}">About Nepal</a>
									<a class="dropdown-item" href="{% url 'about-visa' %}">Nepal Visa Information</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'blog' %}">Blog</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Company
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
									<a class="dropdown-item" href="{% url 'about-company' %}">About us</a>
									<a class="dropdown-item" href="{% url 'company-profile' %}">Company Profile</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'photo-gallery' %}">Gallery</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'add-review' %}">Add Review</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
		<div class="container booking-form">
      		<div class="row justify-content-center">
				{% if messages %}
				<ul class="messages">
					<br>
					{% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success">
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							</div>
						{% elif message.tags == "warning" %}
							<div class="alert alert-warning">
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							</div>
						{% endif %}
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		{% block content %}

	{% endblock %}

	<div class="footer-wrapper">
				<div class="top-img"></div>
				<div class="container-fluid">
					<div class="footer-social-icons">
						<ul>
							<li><a href="https://www.facebook.com/skmt.itahari" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" ><i class="fa fa-whatsapp"></i></a></li>
							<li><a href="#" ><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
							<li><a href="https://www.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>

						</ul>
					</div>
					<div class="footer-mid-part">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="footer-section-one">
									<div class="footer-heading"><h2>Contact Us</h2></div>
									<div class="footer-contact-box">
										<div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
										<div class="footer-contact-text">
											<p>Address: Province No. 1, Itahari-Sunsari, Nepal</p>
										</div>
										<div class="clr"></div>
									</div>
									<div class="footer-contact-box">
										<div class="footer-contact-icon"><i class="fa fa-phone"></i></div>
										<div class="footer-contact-text">
											<p><a href="tel:+012-3456-789">025-582752</a></p>
										</div>
										<div class="clr"></div>
									</div>
									<div class="footer-contact-box">
										<div class="footer-contact-icon"><i class="fa fa-fax"></i></div>
										<div class="footer-contact-text">
											<p><a href="fax:+012-3456-789">+012-3456-789</a></p>
										</div>
										<div class="clr"></div>
									</div>
									<div class="footer-contact-box">
										<div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
										<div class="footer-contact-text">
											<p><a href="mailto:info@learningtutorialpoingt.com">info@skmtravelandtour.com</a></p>
										</div>
										<div class="clr"></div>
									</div>
									<div class="footer-contact-box">
										<div class="footer-contact-icon"><i class="fa fa-globe"></i></div>
										<div class="footer-contact-text">
											<p><a href="http://www.learningtutorialpoint.com">http://www.skmtravel&tour.com</a></p>
										</div>
										<div class="clr"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="footer-section-four">
									<div id="map-container" class="map-container z-depth-1-half" style="height:350px;">
										<div class="mapouter"><div class="gmap_canvas"><iframe width="420" height="332" id="gmap_canvas" src="https://maps.google.com/maps?q=shree%20krishna%20mankamana&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></a></div><style>.mapouter{position:relative;text-align:right;height:350px;width:420px;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:420px;}</style></div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<div class="footer-section-two">
									<div class="footer-heading"><h2>Quick Link</h2></div>
									<div class="footer-link">
										<ul>
											<li><a href="{% url 'index' %}">Home</a></li>
											<li><a href="{% url 'packages' %}">Packages</a></li>
											<li><a href="{% url 'educational_tour' %}">Group Tour Request</a></li>
											<li><a href="{% url 'blog' %}">Blogs</a></li>
											<li><a href="{% url 'photo-gallery' %}">Photo Gallery</a></li>
											<li><a href="{% url 'add-review' %}">Post Review</a></li>
											<li><a href="{% url 'company-profile' %}">Company Profile</a></li>
											<li><a href="{% url 'about-visa' %}">Visa Information</a></li>

										</ul>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-12">
								<div class="footer-section-three">
									<div class="footer-heading"><h2>Get in touch</h2></div>
									<div class="footer-form">
										<form method="post" action="{% url 'user-request' %}">
											{% csrf_token %}
											<div class="footer-form-box">
												<input type="text" class="footer-form-style" placeholder="Name" name="name">
											</div>
											<div class="footer-form-box">
												<input type="text" class="footer-form-style" placeholder="Email" name="email">
											</div>
											<div class="footer-form-box">
												<input type="text" class="footer-form-style" placeholder="Message" name="message">
											</div>
											<div class="footer-form-box">
												<input type="submit" class="footer-form-submit-style" value="SUBMIT">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p>We Are Affiliated With</p>
								<div class="foot-images">
									<img src="{% static 'img/ntb.jpg' %}">
									<img src="{% static 'img/nepal-goverment.png' %}">
									<img src="{% static 'img/taan.png' %}">
									<img src="{% static 'img/nma.png' %}">
									<img src="{% static 'img/carou4.jpg' %}">
									<img src="{% static 'img/nata.png' %}">
								</div>

							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p>Payment Mode We Accepts</p>
								<div class="foot-images">
									<img src="{% static 'img/visa.png' %}">
									<img src="{% static 'img/paypal.png' %}">
									<img src="{% static 'img/master.png' %}">

								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p>Copyright 2020 SKM Travel & Tour All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ScrollToTop"><i class="fa fa-chevron-up"></i></a>
			<!-- javascript reference ------>
			<script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %}"></script>
			<script type="text/javascript" src=" {% static 'js/test.js' %}"></script>

		</body>
	</html>