{% extends 'shared/header-footer.html' %}

{% block content %}
<div class="container booking-form">
      <div class="row justify-content-center">
        <div class="col-8">
            <hr class="mt-0 mb-4">
				<p class="m-auto">Your password has been set.<p>
            <p>Do you want to <a href="{% url 'login' %}"><button class="btn btn-primary " type="submit">Login </button></a>
                    with your newly created password now.</p>
		</div>
	  </div>
</div>

{% endblock %}