{% extends 'shared/header-footer.html' %}

{% block content %}
<div class="container booking-form">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Change Password</h1>
            <hr class="mt-0 mb-4">

			  <p class="m-auto p-2">
				We've emailed you instructions for setting your password, if an account exists with the email you entered.
				You should receive them shortly.
			  </p>
			  <p class="m-auto p-2">
				If you don't receive an email, please make sure you've entered the address you registered with,
				and check your spam folder.
			  </p>
			  <p class="m-auto p-2">
				  <a href="{% url 'index' %}"><button class="btn btn-primary " type="submit">Return to home page</button></a>
			  </p>
		</div>
	</div>
</div>

{% endblock %}