{% extends 'shared/header-footer.html' %}

{% block content %}
<div class="container booking-form">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Reset Password</h1>
            <hr class="mt-0 mb-4">
				<form method="POST" class="form-signin">{% csrf_token %}
					<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
					<button class="btn btn-primary " type="submit">Send Reset Email</button>
				</form>

		</div>
	  </div>
</div>

{% endblock %}