{% extends 'shared/header-footer.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container booking-form">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Change Password</h1>
            <hr class="mt-0 mb-4">

            {% if validlink %}
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field|as_crispy_field }}
                  </p>
                    {% endfor %}
                <button class="btn btn-primary " type="submit">Change password</button>
              </form>
            {% else %}
              <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}
        </div>
      </div>
</div>

{% endblock %}