{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/packages_final.css' %}">
    <style>
        .card{
    height:350px;

}
.card-deck .card img{
  width:100%;
  height: 55%;
}
.card a .btn{
    text-align:center;
    margin-left:45px;
}
    </style>

    <section class="header">
        <div class="heading">
			<h1>User Profile </h1>
		</div>

		<div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:center;">
                    <h6>Name: {{user.first_name}}&nbsp;{{user.last_name}}</h6>
                    <h6>Username: {{user.username}}</h6>
                    <h6>Registered Email: {{user.email}}</h6>
                    <br>
                    <a href="{% url 'password_change' %}"><button class="btn btn-primary " type="submit">Change Password</button></a>

            </div>
        </div>
        </div>


    <div class="container">
        <div class="row">
            {% if bookings %}
            <h3>Booked Packages</h3>
            <div class="card-deck">

                {% for booking in bookings %}
                        <div class="col-lg-3 col-md-4 col-sm-6 search_result">
                            <div class="card ">
                                <img src="{{booking.selected_package.img.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="{% url 'package_details' slug=booking.selected_package.slug_field %}">
                                        <h5 class="card-title">{{booking.selected_package.package_name}}</h5>
                                    </a>
                                    <a href="{% url 'cancel_booking' id=booking.selected_package.package_id %}"><button class="btn btn-success" type="submit">Cancel Booking</button></a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            {% else %}
                <h4>No Any Bookings Yet</h4>
            {% endif %}
        </div>
    </div>


	</section>
{% endblock %}
