{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}

    <section class="header">
        <div class="heading">
			<h1>User Profile </h1>
		</div>

		<div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:center;">
                    <h6>Name: {{user.first_name}}&nbsp;{{user.last_name}}</h6>
                    <h6>Username: {{user.username}}</h6>
                    <h6>Registered Email: {{user.email}}</h6>
                    <br>
                    <a href="{% url 'password_change' %}"><button class="btn btn-primary " type="submit">Change Password</button></a>

            </div>
        </div>
<!--            <div class="row">-->
<!--                {% if bookings %}-->
<!--                    {% for booking in bookings %}-->
<!--                        {{booking.selected_package}}-->
<!--                    {% endfor %}-->
<!--                {% else %}-->
<!--                    <h4>No Booking</h4>-->
<!--                {% endif %}-->

<!--            </div>-->
        </div>
	</section>
{% endblock %}
