{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/about_nepalvisa.css' %}"
	  xmlns="http://www.w3.org/1999/html">

    <section class="header">
		<div class="container">
			<div class="row head-content">
				<div class="col-sm-12 image">
					<img src="{% static 'img/visa.jpg' %}">

					</div>
			</div>
        </div>
        <div class="heading">
			<h1>Nepal Visa Information </h1>
		</div>

		<div class="container">
            <br class="row">
				<P>Immigration needed a valid passport and one passport size photo with a light background. Immigration Department has not specified the size of the passport-size photo. Visa can be obtained only through payment of cash in the following currency: Euro, Swiss, Franc, Pound Sterling, US dollar, Australian dollar, Canadian dollar, Hong-Kong dollar, Singapore dollar and Japanese Yen.</P>
				<p>Credit Card, Indian currency or Nepalese currency are not accepted for payment of Visa fee.</p>

				<h4>A. Tourist Visa</h4>
				<table>
					<thead>
						<td>Visa Facility</td>
						<td>Duration</td>
						<td>Fee</td>
					</thead>
					<tr>
						<td>Multiple entry</td>
						<td>15 days</td>
						<td>US$ 30 or equivalent convertible currency</td>
					</tr>
					<tr>
						<td>Multiple entry</td>
						<td>30 days</td>
						<td>US$ 50 or equivalent convertible currency</td>
					</tr>
					<tr>
						<td>Multiple entry</td>
						<td>90 days</td>
						<td>US$ 125 or equivalent convertible currency</td>
					</tr>
				</table>
				<br>

				<h4>B. Gratis (Free) Visa</h4>
				<p>Gratis visa for 30 days available only for tourists of SAARC countries like Bangladesh, Bhutan, Maldives, Pakistan and Sri Lanka.</p>
				<p>Indian nationals do not require visa to enter into Nepal. However, any one of the valid identity card with photo needed at the entry point.</p>

				<h4>C. Tourist Visa Extension</h4>
				<p>Visa extension fee for 15 days or less is US $ 30 or equivalent convertible currency and visa extension fee for more than 15 days is US$ 3 per day</p>
				<p>Tourist visa can be extended for a maximum period of 150 days in a single visa year (January – December).</p>

				<h4>D. Transit Visa</h4>
				<p>Transit visa for one day can be obtained from Nepal\'s immigration offices at the entry points upon the production of departure flight ticket via Tribhuvan International Airport in Nepal, by paying US $ 5 or equivalent convertible currency.</p>

				<h4>Note:</h4>
				<p>Tourist entry visa can be obtained from Royal Nepalese Embassy or Consulate or other mission offices or any entry points of Nepal.</p>
				<p>Nationals of the following countries will not get visa on arrival at the immigration entry points of Nepal: Nigeria, Ghana, Zimbabwe, Swaziland, Cameroon, Somalia, Liberia, Ethiopia, Iraq, Palestine, Afghanistan. They need to obtain visa from Nepalese Embassies or Diplomatic Missions in their respective countries prior to their visit to Nepal.</p>
            </div>
        </div>
	</section>
{% endblock %}