{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/about_nepalvisa.css' %}"
	  xmlns="http://www.w3.org/1999/html">

    <section class="header">
		<div class="container">
			<div class="row head-content">
				<div class="col-sm-12 image">
					<img src="{% static 'img/about-us.jpg' %}">

					</div>
			</div>
        </div>
        <div class="heading">
			<h1>About Company </h1>
		</div>

		<div class="container">
            <div class="row">
                <p>Shree Krishna Mankamana Travel and Tour, is a fully licensed and registered travel agency / company in Nepal and recognized by the tourism authority of the Government of Nepal, Nepal Association of Tour & Travel Agent (NATTA) and Nepal Tourism Board (NTB) as providing comprehensive Travel Package for leisure, Group, Charters & small-business traveler, backed by real-time Website & unmatched products.</p>

                <p>Since its beginning in 2012, we have been growing at a fast pace aspiring to emerge as one of the leading travel company in Nepal. The very fact that we are a young company, we are open to new ideas, flexible & adaptable to our clients needs.</p>

                <p>The organization is headed & professionally managed by people having vast experience in hospitality business. With our central location in Itahari (tourist hub of Eastern Nepal), we are equipped with requisite infrastructure & an excellent network of ground handling agents covering all of Nepal and its Sub Continent.</p>

                <p>The organization is handling tours and trekking to Nepal and India and also promoting India, Thailand, Hongkong, Malaysia, Singapore, Maldives and Sri Lanka. We are committed towards offering a full range of products and services to cater to the specific needs from escorted group and free and independent packages for the general public to incentive and conference packages for corporate firms.</p>

                <p>For seasoned travellers and adventurous explorers, we tailor-make the travel packages by offering the best combination of airfares, hotels, car rental and sightseeing and so on. With our expertise and experience in the inbound market, we extend our services in assisting corporate companies and institutions to organise their travel arrangements for convention, trade missions, incentive and seminars.</p>

                <p>Looking forward to welcome you and your friends in Asia !!</p><br/>

                <p>Namaste !</p>
            </div>
        </div>
	</section>
{% endblock %}