{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/about_nepalvisa.css' %}"
	  xmlns="http://www.w3.org/1999/html">

    <section class="header">
        <div class="heading">
			<h1>Company Profile </h1>
		</div>

		<div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>Name of the company:</h5>
                    <h5>Business type:</h5>
                    <h5 style="margin-top:30px">Year of Establishment:</h5>
                    <h5 style="margin-top:160px">Affiliations:</h5>
                    <h5 style="margin-top:180px">Tour types:</h5>
                    <h5 style="margin-top:40px">Outbound Tour:</h5>
                    <h5 style="margin-top:20px">Located at:</h5>
                    <h5 style="margin-top:15px">Telephone:</h5>
                    <h5 style="margin-top:15px">Cell:</h5>
                    <h5 style="margin-top:15px">Email address:</h5>
                    <h5 style="margin-top:15px">Websites:</h5>
                    <h5 style="margin-top:15px">Inquiry response:</h5>

                </div>
                <div class="col-sm-8">
                    <h6>Shree Krishna Mankamana Travel and  Tour</h6>
                    <p>Trekking, Expeditions, domestic tours,  adventures  (rafting, bungee jumping, paragliding, etc) and outland tours to India</p>
                    <p>December 8, 2004</p>
                    <p>Department of Tourism, Government of Nepal</p>
                    <p>Department of Industry, Government of Nepal</p>

                    <p>Department of Income Tax , Government of Nepal</p>

                    <p>Department of Foreign Currency, Nepal Rastra Bank</p>

                    <p>NATTA (Nepal Associations of Travels and Tours Agents)</p>

                    <p>NTB (Nepal Tourism Board)</p>

                    <p>Village Tourism Promotion Forum Nepal</p>

                    <p>IATA (International Air Transport Association) registration.</p>
                    <p>
                        Cultural/ Pilgrimage/ Holiday/ World Heritage tour packages, Adventures ( Rafting, Bungee    jumping, rock climbing, Jungle safari, wildlife safari, bird watching, etc), Mountain Flight         (Everest flight), Kathmandu Sightseeing, Trekking and Expedition and many more
                    </p>
                    <p>
                         India
                    </p>
                    <p>
                        Itahari, Sunsari, Nepal  ( 20m East from Tangra Bridge )
                    </p>
                    <p>
                        00977 -025- 4435300, 4422325, 4422326
                    </p>
                    <p>
                        +977- 9801044333 ( Whatapps/Viber)
                    </p>
                    <p>
                        info@skmtravel.com
                    </p>
                    <p>
                        www.skmtravel.com
                    </p>
                    <p>
                        24 hours throughout the week
                    </p>

                </div>
            </div>
        </div>
	</section>
{% endblock %}