{% extends 'shared/header-footer.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/packages.css' %}">
</head>


<div class="packages-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                         <i class="fa fa-star mr-2"></i>
                       <span class="font-weight-bold small text-uppercase">Eastern Nepal Packages</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                         <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Whole Nepal Tour</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Treeking</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                         <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Nepal-India Tour</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-adventure-tab" data-toggle="pill" href="#v-pills-adventure" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                         <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Adventure Trip</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-activities-tab" data-toggle="pill" href="#v-pills-activities" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                         <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Activities</span></a>
                    </div>
            </div>


            <div class="col-md-9">
                 <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" >
                    <div class="row">
                        	<div class="card-deck">
                                 {% for package in packages %}
                                    {% if package.package_type.package_type == "Eastern Nepal Packages" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
	                        </div>
                        </div>
                </div>

                <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" >
                     <div class="row">
                        	<div class="card-deck">
	                        	{% for package in packages %}
                                    {% if package.package_type.package_type == "Whole Nepal Tour" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                     </div>

                </div>

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" >
                        <div class="row">
                        	<div class="card-deck">
	                        	{% for package in packages %}
                                    {% if package.package_type.package_type == "Trekking" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                     </div>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="row">
                        	<div class="card-deck">
	                        	{% for package in packages %}
                                    {% if package.package_type.package_type == "Nepal-India Tour" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                     </div>
                    </div>

                      <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-adventure" role="tabpanel" aria-labelledby="v-pills-adventure-tab">
                        <div class="row">
                        	<div class="card-deck">
	                        	{% for package in packages %}
                                    {% if package.package_type.package_type == "Adventure Trip" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                         </div>
                      </div>

                     <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-activities" role="tabpanel" aria-labelledby="v-pills-adventure-tab">
                        <div class="row">
                        	<div class="card-deck">
	                        	{% for package in packages %}
                                    {% if package.package_type.package_type == "Activities" %}
                                        <div class="col-sm-4">
                                                <div class="card ">
                                                <img src="{{ package.img.url}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <a href="{% url 'package_details' slug=package.slug_field %}">
                                                  <h5 class="card-title">{{package.package_name}}</h5>
                                                    </a>
                                                </div>
                                              </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                         </div>
                      </div>


                </div>
            </div>
        </div>
    </div>
    </div>




{% endblock %}